pkgbase = linux-zen-alder
	pkgdesc = Linux ZEN with Intel Alder Lake config
	pkgver = 6.8.2.zen2
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.2.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.2.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.8.2-zen2/linux-v6.8.2-zen2.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.8.2-zen2/linux-v6.8.2-zen2.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	validpgpkeys = 31520F92C8520F6A9E0073D1D1644AB50DEA3011
	sha256sums = 9ac322d85bcf98a04667d929f5c2666b15bd58c6c2d68dd512c72acbced07d04
	sha256sums = 64008322e904d3bd3583430c9562ed991478df1623f06808859b5cef92631b5c
	sha256sums = 86008bcb16cead3a16baca444a60cdeda3a92ab1e8b8f403328a427c033601d7
	sha256sums = 423f458d24412d91d67c612212e996887fa80736ade5fb1302652415cf3b1d95
	sha256sums = 2ca540be2c5b763cfbafbf10d179b64b63664e6771548bfb1dcb31b66e7b662b

pkgname = linux-zen-alder
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-alder-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-alder-docs
	pkgdesc = Documentation for the Linux ZEN kernel
